
body{
  font-family: 'Heebo', sans-serif;
  color: black;
}
.App {
  text-align: center;
  font-family: 'Heebo', sans-serif;
}
h1{
  margin: 0;

}
Link{
  text-decoration: none;
  color: black;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.exhibition-wrapper{
  margin-left: 4em;
  margin-right: 4em;
  font-family: 'Heebo', sans-serif;
  
}
.exhibition-container{
  width: 600px;
  margin: auto;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#artwork-container {
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 75%;
  margin: auto;
  max-height: 75%;
  
} 

#card-container{
  
  display: flex; 
  align-items: stretch; 
  
}
.back-button{
  padding-top: 10px;
  padding-left: 10px;
}
.bg{
  
  width: 100%;
  height: 100%;
  background-size: contain;
  background-color: white;
}

.exhibit-gallery-carousel {
  position: relative;
  padding-top: 400px;
  height: 1000px;
  width: 50%;
}

.carousel-bg {
  background-repeat:no-repeat;
  background-size:cover;
}

.bg-div {
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-position: center;
}

.carousel-img {
  
  object-fit: fill;
  width: 250px;
  height: 250px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  /* box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75) */
}


a{
  text-decoration: none;
}

.index-img {
  
  object-fit: fill;
  width: 250px;
  height: 250px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  /* box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75) */
}

/* .flex-item {
  align-items: center;
  text-align: center;
  
} */

#spacer{
  height: 15px;
}
#spacer-exhibitions{
  height: 4px;
}


#icon-div{
  position: absolute;
  top: 50%;
  
  left: 85%;
  transform: translateY(-50%);
}
#home-segment{
  opacity: .8;
  
}
/* #home-container{
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 55;
  text-align: center;
  padding: 60px 32px;
  width: 100%;
  transform: translate(-50%,-50%);
  background: rgba(5, 5, 5, 0.068);
  box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
} */

.exhibition-card{
  flex: 50%;
  display: block;
}
.title-card{
  margin-top: auto;
  margin-bottom: auto;
  flex: 50%;

}
.exhibition-parent{
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  border-top: 3px solid black;
}
